.input-container {
    color: var(--primaryHover);
}

.input {
    font-size: 1.2rem;
    color: var(--primaryHover);
    padding: 6px 12px;
    border: 2px solid var(--shadow);
    background-color: var(--background);
    border-radius: var(--border-radius);
    margin:0 0 16px 0;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    max-height: 2.5rem;
}

.input.error {
    border: 2px solid var(--error);
    background-color: var(--errorSecondary);
}

.input:hover, .input:active {
    border: 2px solid var(--primaryHover);
}

.input-container label {
    font-size: 1.2rem;
}