.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}


@media only screen and (min-width:1220px){
    .products-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (min-width:1600px){
    .products-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media only screen and (max-width:768px){
    .products-grid {
        display: flex;
        flex-direction: column;
    }
}