.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.product-block-text {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

@media only screen and (min-width:1200px){
    .products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width:768px){
    .products {
        grid-template-columns: 1fr;
    }
}