.button {
    padding: 8px 16px;
    box-sizing: border-box;
    height: 2.5rem;
    border-radius: 1.25rem;
    text-transform: uppercase;
    transition: background-color .5s;
    position: relative;
    width: fit-content;
}

.button:hover {
    cursor:pointer;
}