:root{
    --lightBlue:rgb(210, 244, 255);
    --lightGrey:rgb(200, 200, 200);
    --leather:rgb(162, 73, 25);
    --primary:rgb(245, 245, 245);
    --primaryHover:#272121;
    --shadow:rgb(100, 100, 100);
    --secondary:rgb(215,215,215);
    /*--background:rgb(241, 238, 231);*/
    --background:rgb(243, 243, 243);
    --background-inner: rgb(242, 241, 231);
    --backgroundSecondary:rgb(224, 215, 211);
    --error:rgba(255, 0, 0, 0.2);
    --errorSecondary:rgba(255, 120, 120, 0.2);
    --border-radius:12px;
    --border-radius-big:1.25rem;
    --small:600px;
    --medium:900px;
    --large:1220px;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: var(--border-radius);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--shadow);
    border-radius: var(--border-radius);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#root {
     min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    background: var(--background);
    flex-grow: 1;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4 {
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}

h1 {
    font-size:1.6rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.4rem;
}

button, input, textarea {
    font-family: "EB Garamond";
}

textarea {
    resize: none;
}

p {
    margin: 0;
    margin-bottom: 8px;
}